@use "../../sass/index" as *;

.nav {
  background-color: $bg-color-secondary;
  position: fixed;
  top: 2rem;
  left: 10%;
  right: 10%;
  border-radius: 0.5rem;
  z-index: 1000;
  @include flex(space-between, center);
  border-bottom: 1px solid $color-primary;
  padding: 0.7rem 3rem 0.7rem 2rem;

  @include respond($tablet-landscape-screen) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include respond($tablet-portrait-screen) {
    left: 2%;
    right: 2%;
  }

  @include respond($mobile-screen) {
    flex-direction: column;
  }

  &-left {
    @include flex(center, center);
  }
  &-right {
    @include flex(center, center);
    position: relative;
  }

  &-results {
    &-wrapper {
      position: absolute;
      width: 320px;
      max-height: 300px;
      overflow-y: scroll;
      top: 4rem;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 11111111;
      border-radius: 2px;
      box-shadow: 2px 9px 14px solid(0, 0, 0, 0.4);

      @include respond($mobile-screen) {
        top: 5rem;
        right: -5rem;
      }

      &.hide {
        display: none;
        opacity: 0;
      }

      ul {
        margin: 0;
        padding: 1rem;
      }
    }
    &-img {
      width: 60px;
      height: 80px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }

  &-item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba($color-primary, 0.25);
  }

  &-item-desc {
    display: flex;
    flex-direction: column;
  }

  &-item-title {
    font-family: $font-secondary;
    color: #dcdcdc;
    font-size: 1.2rem;
    margin: 0;
  }

  &-item-year {
    font-family: $font-secondary;
    color: #dcdcdc;
    font-size: 1rem;
  }

  &-list {
    @include flex(flex-start, center);
    padding-left: 1rem;
  }

  &-link {
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: $font-secondary;
    transition: all $transition-short;
    cursor: pointer;

    &.active {
      background-color: $color-primary;
      color: $bg-color-secondary;
    }

    &:hover:not(&.active) {
      background-color: $color-primary;
      color: $bg-color-secondary;
    }
  }

  &-logo-box {
    width: 5rem;
    height: 5rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &-input {
    border: none;
    background-color: transparent;
    padding: 1rem;
    padding-left: 3.2rem;
    width: 30rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border: 0.05rem solid #444;
    border-radius: 0.3rem;
    color: $color-primary;
    transition: all $transition-short;
    position: relative;
    font-weight: lighter;

    @include respond($mobile-screen) {
      margin: 0.5rem 0;
    }
    @include respond($tablet-portrait-screen) {
      width: 15rem;
    }

    &::placeholder {
      font-size: 1rem;
    }
    &:focus {
      outline: none;
      border: 0.05rem solid $color-primary;
    }
    &-icon {
      position: absolute;
      top: 0.8rem;
      left: 0.6rem;
      font-size: 2rem;
      color: #444;

      @include respond($mobile-screen) {
        top: 1.2rem;
      }
    }
    &:focus + &-icon {
      color: $color-primary;
    }
  }
}
